:root {
  --cinnabar: rgba(232, 70, 30, 1);
  --semantic-heading-1-font-family: "Bebas Neue", Helvetica;
  --semantic-heading-1-font-weight: 400;
  --semantic-heading-1-font-size: 110px;
  --semantic-heading-1-letter-spacing: -1px;
  --semantic-heading-1-line-height: 101.19999694824219px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-2-font-family: "Bebas Neue", Helvetica;
  --semantic-heading-2-font-weight: 400;
  --semantic-heading-2-font-size: 90px;
  --semantic-heading-2-letter-spacing: 0px;
  --semantic-heading-2-line-height: 85.5px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-4-font-family: "Noto Sans KR", Helvetica;
  --semantic-heading-4-font-weight: 500;
  --semantic-heading-4-font-size: 14px;
  --semantic-heading-4-letter-spacing: 0px;
  --semantic-heading-4-line-height: normal;
  --semantic-heading-4-font-style: normal;
  --semantic-link-font-family: "Noto Sans KR", Helvetica;
  --semantic-link-font-weight: 300;
  --semantic-link-font-size: 14px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: normal;
  --semantic-link-font-style: normal;
  --semantic-link-upper-font-family: "Space Mono", Helvetica;
  --semantic-link-upper-font-weight: 400;
  --semantic-link-upper-font-size: 12px;
  --semantic-link-upper-letter-spacing: 1px;
  --semantic-link-upper-line-height: normal;
  --semantic-link-upper-font-style: normal;
  --bebas-neue-regular-font-family: "Bebas Neue", Helvetica;
  --bebas-neue-regular-font-weight: 400;
  --bebas-neue-regular-font-size: 22px;
  --bebas-neue-regular-letter-spacing: 2px;
  --bebas-neue-regular-line-height: normal;
  --bebas-neue-regular-font-style: normal;
  --noto-sans-KR-light-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-light-font-weight: 300;
  --noto-sans-KR-light-font-size: 13px;
  --noto-sans-KR-light-letter-spacing: 0px;
  --noto-sans-KR-light-line-height: 22.100000381469727px;
  --noto-sans-KR-light-font-style: normal;
  --noto-sans-KR-medium-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-medium-font-weight: 500;
  --noto-sans-KR-medium-font-size: 18px;
  --noto-sans-KR-medium-letter-spacing: 0px;
  --noto-sans-KR-medium-line-height: normal;
  --noto-sans-KR-medium-font-style: normal;
  --noto-sans-KR-demilight-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-demilight-font-weight: 300;
  --noto-sans-KR-demilight-font-size: 12px;
  --noto-sans-KR-demilight-letter-spacing: 0px;
  --noto-sans-KR-demilight-line-height: 20.399999618530273px;
  --noto-sans-KR-demilight-font-style: normal;
  --noto-sans-KR-bold-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-bold-font-weight: 700;
  --noto-sans-KR-bold-font-size: 17px;
  --noto-sans-KR-bold-letter-spacing: -0.30000001192092896px;
  --noto-sans-KR-bold-line-height: normal;
  --noto-sans-KR-bold-font-style: normal;
  --space-mono-regular-upper-font-family: "Space Mono", Helvetica;
  --space-mono-regular-upper-font-weight: 400;
  --space-mono-regular-upper-font-size: 12px;
  --space-mono-regular-upper-letter-spacing: 3px;
  --space-mono-regular-upper-line-height: normal;
  --space-mono-regular-upper-font-style: normal;
  --space-mono-regular-font-family: "Space Mono", Helvetica;
  --space-mono-regular-font-weight: 400;
  --space-mono-regular-font-size: 10px;
  --space-mono-regular-letter-spacing: 1px;
  --space-mono-regular-line-height: normal;
  --space-mono-regular-font-style: normal;
}
